*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #000;
}

$blue: #060ce9;
$yellow: rgb(214, 159, 76);

.Game {
  &-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
    font-family: "swiss911";
  }

  &-category {
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    line-height: 1;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &Card {
    background: $blue;
    border: 0;
    font: inherit;
    appearance: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 0.65rem;

    &-front {
      color: $yellow;
      text-shadow: rgb(0 0 0) 0.08em 0.08em;
      font-size: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-dollarSign {
      margin-right: 0.1em;
    }
  }
}

.ClueModal {
  // transform: translate(0, 0) scale(1);
  position: fixed;
  top: 0;
  left: 0;
  background: $blue;
  transform-origin: top left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  z-index: 1;

  &-text {
    line-height: 1;
    font-family: "korinna";
    text-shadow: rgb(0 0 0) 0.05em 0.05em 0px;
  }
}
