@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "swiss911";
  src: url("./fonts/swiss911.woff2") format("woff2"),
    url("./fonts/swiss911.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "korinna";
  src: url("./fonts/korinna.woff2") format("woff2"),
    url("./fonts/korinna.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.gold-text {
  color: rgb(214, 159, 76);
  text-shadow: rgb(0, 0, 0) 0.08em 0.08em;
}

.primary-btn {
  border: 2px solid rgb(214, 159, 76);
  color: rgb(214, 159, 76);
  text-shadow: rgb(0, 0, 0) 0.08em 0.08em;
  font: inherit;
  border-radius: 4px;
  padding: 8px 12px;
  display: block;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
  transition: opacity 0.2s;
}
.primary-btn:hover,
.primary-btn:focus {
  opacity: 0.9;
}
.primary-btn:disabled {
  opacity: 0.5;
}

.secondary-btn {
  border: 2px solid #fff;
  color: #fff;
  text-shadow: rgb(0, 0, 0) 0.08em 0.08em;
  font: inherit;
  border-radius: 4px;
  padding: 8px 12px;
  display: block;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
  transition: opacity 0.2s;
}
.btn-sm {
  padding: 4px 12px;
}
.secondary-btn:hover,
.secondary-btn:focus {
  opacity: 0.9;
}
.secondary-btn:disabled {
  opacity: 0.5;
}

.dark-text-shadow {
  text-shadow: rgb(0, 0, 0) 0.08em 0.08em;
}
